.body{
    background-color: yellow;
    line-height: 50px; 
    width: 200px;
ul {
    list-style: none;
    }
    .fa-facebook {
        color: blue
        ;}
    .fa-youtube {
        color: red;
        }
    .fa-linkedin{
        color: blue;
    }
    .fa-github {
        color: black;
    }
     .body2 { color: blue;
}
}
.body2 {
    background-color: yellow;
    width: 400px;
    position: relative;
    height: 70px;
    padding:30px;
    margin-top:0px;
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    .fa-twitter {
        color:skyblue;
    }
    .fa-pinterest {
        color: red;
    }
    .fa-instagram {
        color:red ;
    }
    .fa-whatsapp 
    {
        color: green;
    }
}
h1{color: black; font-weight: 900;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
